.city-image {
  height: 330px;
  background-position: center;
  background-size: cover !important;
  display: flex;
}

.avatar {
  width: 150px;
}

.content-container {
  background-color: white !important;
  padding: 50px 0;
  display: flex;
  justify-content: center;
  form {
    background-color: $lightest-gray;
    padding: 20px;
    h3 {
      margin-top: 0;
      margin-bottom: 25px;
    }
    .btn-primary {
      width: 100%;
    }
  }
}

.flat-header {
  display: flex;
  justify-content: space-around;
  h3 {
    font-size: 23px;
  }
  p {
    font-size: 18px;
    color: $light-gray;
    font-weight: lighter;
  }
  .flat-owner {
    display: flex;
    flex-direction: column;
    text-align: center;
    img {
      margin-bottom: 20px;
    }
  }
}
