// Define variables for your color scheme

// For example:
$red: #a00000;
$blue: #606aa0;
$yellow: #ffff38;
$orange: #E67E22;
$green: #84d15e;
$gray: #000000;
$light-gray: #898888;
$lightest-gray: #E6E6E6;
