---
title: Le Wagon - Middleman
---

<div>
  <%= partial "layouts/banner" %>
</div>
<div class="container">
  <div class="cards">
    <h2 class="text-center">Cities</h2>
    <%= partial "layouts/card" %>
  </div>
</div>
